* {
	box-sizing: border-box;
}
body {
	height: 100vh;
	margin: 0 auto;
	font-family: 'Raleway', Helvetica, sans-serif;
	font-size: 16px;
	background-color: rgb(244, 244, 243);
}
.container {
	width: 100%;
	height: 100%;
}
.hero {
	height: 80%;
	max-height: 520px;
	background: #f5f3f4;
}
.header {
	display: flex;
	justify-content: flex-end;
	margin: 0 45px;
}
.header ul {
	display: flex;
	align-items: center;
}
.header ul li {
	list-style: none;
	margin: 0 25px;
	color: #3e3e3e;
}
.header ul li a {
	text-decoration: none;
	color: #3e3e3e;
}
.header ul li a:hover {
	color: #12125b;
}
.header ul li:last-child {
	background: #fff;
	padding: 15px 45px;
	margin: 0 0 0 25px;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
	color: #12125b;
	font-weight: 500;
}
.header ul li:last-child:hover {
	background: #1d20ea;
	color: #fff;
}
.bg {
	display: flex;
	height: 100%;
	padding-bottom: 20px;
}
.left img {
	position: absolute;
	width: 400px;
	top: 0;
	left: 0;
}
.left .svg {
	width: 160px;
	height: 180px;
	left: 71px;
	top: 257px;
}
.right img {
	position: absolute;
	width: 240px;
	top: 204px;
	right: 0;
}
.right .svg {
	width: 198px;
	height: 172px;
	right: 138px;
	top: 106px;
	transform: rotate(-8deg);
}
.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.content .logo {
	width: 120px;
}
.content h2 {
	font-size: 2.5rem;
	color: #3e3e3e;
	font-weight: 600;
	margin: 20px 0;
}
.content h2 span {
	color: #12125b;
}
.content p {
	color: #3e3e3e;
	font-size: 1.25rem;
	font-weight: 500;
}
.form {
	width: 100%;
	max-width: 780px;
	display: flex;
}
.form .search {
	width: 100%;
	max-width: 650px;
	background: #fff;
	height: 50px;
	border-radius: 4px;
	margin-right: 20px;
	display: flex;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}
.form .search img {
	width: 26px;
	margin: 0 20px;
}
.form .search input {
	width: 100%;
	background: transparent;
	border: 0;
	outline: none;
	font-size: 1rem;
}
.form .search input::placeholder {
	font-weight: 400;
	color: #a6a6a6;
}
.form button {
	width: 210px;
	background: #0b0a47;
	color: #fff;
	font-weight: 400;
	border: 0;
	border-radius: 4px;
	transition: 0.2s;
}
.form button:hover {
	background: #676565;
	transform: scale(1.02);
}
.tags {
	margin: 30px 0;
}
.tags span {
	font-size: 0.875rem;
	font-weight: 400;
	color: #818181;
	border: 1px solid #ccc;
	padding: 4px;
	border-radius: 3px;
	margin: 6px;
}
.banner {
	display: flex;
	justify-content: center;
	padding: 20px;
}
.banner img {
	width: 100%;
	max-width: 390px;
	margin: 0 10px;
	transition: 0.2s;
}
.banner img:hover {
	transform: scale(1.02);
}
.footer {
	margin: 20px;
	border-top: 1px solid #dcdcdc;
	display: flex;
	padding: 20px 0;
}
.footer img {
	width: 50px;
}
.footer span {
	font-size: 0.8125rem;
	color: #818181;
	margin: 0 20px;
}


.left{

	background-color: #0b0a47;
}

.menu-section {
	margin: 20px;
  }
  
  .menu-item {
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
	transition: transform 0.2s;
  }
  
  .menu-item:hover {
	transform: translateY(-5px); /* Efeito de elevação suave ao passar o mouse */
  }
  
  .item-image {
	border-radius: 50%;
	max-width: 80px;
	height: auto;
	margin-right: 10px;
	transition: transform 0.2s;
  }
  
  .item-image:hover {
	transform: scale(1.1); /* Aumenta a imagem ao passar o mouse */
  }
  
  .item-details {
	flex-grow: 1;
  }
  
  .buy-button {
	background-color: #c3c7ca;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	transition: background-color 0.3s;
	list-style: none;
  }
  a{
	list-style: none;
  }
  
  .buy-button:hover {
	background-color: #474747;
  }
  
  /* Estilos para as seções Sem Glúten e Sem Lactose */
  .menu-section h2 {
	margin-top: 20px;
	font-size: 24px;
	color: #062341;
	border-bottom: 2px solid #4f4f4f;
	padding-bottom: 5px;
	display: inline-block;
	margin-bottom: 10px;
	transition: border-color 0.3s;
  }
  
  .menu-section h2:hover {
	border-color: #0056b3; /* Efeito de destaque na borda ao passar o mouse */
  }
  
  
  .navbar {
	background-color: #0A385C;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-links {
	display: flex;
	margin-right: 5%;
  }
  
  .navbar-links a {
	color: white;
	text-decoration: none;
	margin-left: 20px;
	transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
	color: #90caf9;
  }

/* Seus estilos CSS existentes */

/* Estilos para o botão do carrinho */
#toggle-cart-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #0b0a47;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 2;
}

/* Estilos para o carrinho de compras */
#cart-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 700px; /* Largura ajustada para o carrinho */
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 80%;
    z-index: 1;
}

/* Seus estilos CSS existentes */
